* {
  padding: 0;
  margin: 0;
}

:root {
  --height-gameboy: 750px;
  --width-gameboy: 400px;
  --color-gameboy: #31d8f3;
}

.console {
  height: var(--height-gameboy);
  background: var(--color-gameboy);
  width: var(--width-gameboy);
  margin: 15px;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 9%;
  border-bottom-right-radius: 9%;
}

/* Es el contenedor donde va a ir la pantalla */
.top-case {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 350px;
}

.screen {
  background-color: #5a5852;
  border: 32px solid #272526;
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 4%;
  box-shadow: inset 0px 0px 7px black;
}

.gameboy-box {
  display: flex;
  justify-content: center;
}
.gameboy {
  letter-spacing: 1px;
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: #597981;
}

.letter-c {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(131, 28, 28, 0.903);
}

.letter-o {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(134, 77, 184, 0.822);
}

.letter-l {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(73, 157, 73, 0.877);
}

.letter-o2 {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(238, 226, 4, 0.756);
}

.letter-r {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(127, 255, 249, 0.668);
}
