* {
  padding: 0;
  margin: 0;
}

:root {
  --height-gameboy: 750px;
  --width-gameboy: 400px;
  --color-gameboy: #31d8f3;
}

.console {
  height: var(--height-gameboy);
  background: var(--color-gameboy);
  width: var(--width-gameboy);
  margin: 15px;
  border-top-right-radius: 3%;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 9%;
  border-bottom-right-radius: 9%;
}

/* Es el contenedor donde va a ir la pantalla */
.top-case {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 350px;
}

.screen {
  background-color: #5a5852;
  border: 32px solid #272526;
  margin-top: 25px;
  width: 250px;
  height: 250px;
  border-radius: 4%;
  box-shadow: inset 0px 0px 7px black;
}

.box-gameboy {
  display: flex;
  justify-content: center;
}
.gameboy {
  letter-spacing: 1px;
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: #597981;
}

.letter-c {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(131, 28, 28, 0.903);
}

.letter-o {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(134, 77, 184, 0.822);
}

.letter-l {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(73, 157, 73, 0.877);
}

.letter-o2 {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(238, 226, 4, 0.756);
}

.letter-r {
  font-family: "ComicSansMS";
  font-weight: bolder;
  font-size: 20px;
  color: rgba(127, 255, 249, 0.668);
}

.box-nintendo {
  display: flex;
  justify-content: center;
}

.nintendo {
  font-size: 1.5em;
  color: #14b0be;
  border: 2px solid #14b0be99;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 230px;
  box-shadow: inset rgb(20 176 190) 0px 0px 4px,
    rgb(142 215 222) 0px 4px 13px -3px,
    rgb(164 239 246 / 84%) 0px -2px 0px inset;
}

.keypad {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-top: 15px;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 150px;
  margin-top: 15px;
}

#col-1 {
  background-color: red;
}

#col-3 {
  background-color: yellow;
}

.upward {
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  right: -60px;
  width: 40px;
  height: 40px;
  background-color: purple;
}

.center {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  right: 99px;
  width: 40px;
  height: 40px;
  background-color: pink;
}

.down {
  display: flex;
  justify-content: center;
  position: relative;
  top: 85px;
  right: -20.8px;
  width: 40px;
  height: 40px;
  background-color: green;
}

.right {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  right: -20.8px;
  width: 40px;
  height: 40px;
  background-color: yellow;
}

.left {
  display: flex;
  justify-content: center;
  position: relative;
  top: 45px;
  right: 99px;
  width: 40px;
  height: 40px;
  background-color: blue;
}
